
  <!-- FOOTER START -->
  <div class="footer">
    <div class="contain">
    <div class="col">
      <h1>Fast links</h1>
      <ul>
        <a href="#about"><li>About me</li></a>
       <a href="#skills"><li>My skills</li></a>
        <a href="#projects"><li>Projects</li></a>
        <a href="#contact"><li>Get in touch</li></a>
      </ul>
    </div>
    <div class="col">
        <h1>My projects</h1>
        <ul>
         <a href="https://aerwave.io/"> <li>Aerwave</li></a>
         <a href="https://gdesapsom.com/"> <li>Where with the dog</li></a>
         <a href=""> <li>Omnis auto</li></a>
         <a href="https://pronadji-igraca.herokuapp.com/"> <li>Find a player</li></a>
        </ul>
      </div>
    <div class="col social">
      <h1>Social</h1>
      <ul>
        <li><a href=""><img src="../../../assets/instagram.png" width="32" style="width: 32px;"></a></li>
        <li><a href="https://rs.linkedin.com/in/milo%C5%A1-%C4%87irkovi%C4%87-918109203?trk=people-guest_people_search-card"><img src="../../../assets/linkedin.png" width="32" style="width: 32px;"></a></li>
        <li><a href="https://github.com/MilosCira"><img src="../../../assets/github.png" width="32" style="width: 32px;"></a></li>
      </ul>
    </div>
  <div class="clearfix"></div>
  </div>
  </div>
  <!-- END OF FOOTER -->