<div class="wrap">
	<div class="about">
		<div class="about-intro">
			<h4 id="about">About me</h4>
			<h1>Let me introduce myself</h1>
			<div class="intro-details">
				<div class="intro-image">
					<div class="image">
						<img class="image-circle" src="../../../assets/ja.jpg" alt="">
					</div>
				</div>
				<div class="intro-paragraph padding">
					<p>I am a web developer. Hard working, persistent and initiative taking person. Excellent
						communication, negotiation and organizational skills. Motivated team player, with high level of
						work ethics. Fast learning, willing to adopt and apply new skills and knowledge that can improve
						my at job perfomance. Very adaptable and flexible in new environment. Hobbies: Football,
						basketball and travel <br> Driving license: B.</p>
				</div>
			</div>
		</div>
		<div class="about-info">
			<div class="profile padding">
				<h2>Profile</h2>
				<p>Hello,
					my name is
					Milos and i am a
					Web
					Developer. Graduated in It Academy Belgrade</p>
				<h3>Fullname:</h3>
				<p>Milos Cirkovic</p>
				<h3>Job:</h3>
				<p>Fullstack developer</p>
				<h3>Email:</h3>
				<p>cirkovicmilos99@gmail.com</p>
				<h3>Country:</h3>
				<p>Serbia</p>
				<h3>Experience:</h3>
				<p>1+ year in web development</p>
				<a href="#projects">
					<p>See my works</p>
				</a>
			</div>

			<div id="skills" class="skills padding">
				<h2>Skills</h2>
				<p>These are the skills i used, for every skill I mentioned i guarantee that i used in one of the
					projects.</p>
				<ul class="skill-bars">
					<li>
						<div class="progress percent60"></div>
						<strong>Java</strong>
					</li>
					<li>
						<div class="progress percent60"></div>
						<strong>Spring boot</strong>
					</li>
					<li>
						<div class="progress percent70"></div>
						<strong>VueJs</strong>
					</li>
					<li>
						<div class="progress percent50"></div>
						<strong>AngularJs</strong>
					</li>
					<li>
						<div class="progress percent80"></div>
						<strong>MySQL</strong>
					</li>
					<li>
						<div class="progress percent45"></div>
						<strong>NestJs</strong>
					</li>

					<li>
						<div class="progress percent50"></div>
						<strong>TypeScript</strong>
					</li>

					<li>
						<div class="progress percent55"></div>
						<strong>JavaScript</strong>
					</li>
					<li>
						<div class="progress percent75"></div>
						<strong>UI lIBARY</strong>
					</li>
					<li>
						<div class="progress percent65"></div>
						<strong>Html</strong>
					</li>
					<li>
						<div class="progress percent65"></div>
						<strong>CSS/SCSS</strong>
					</li>

				</ul> <!-- /skill-bars -->


			</div>
		</div>
		<div class="about-buttons padding">
			<div class="hire-me">
				<a href="#contact"><button class="about-button">Hire me</button></a>
			</div>
			<div class="download-cv">
				<button class="about-button">Download CV</button>
			</div>
		</div>
	</div>
</div>