<div id="projects" class="services ">
  <div class="services-text ">
    <p>Projects</p>
    <p>Developed Projects</p>
    <p> I developed some projects, using Spring, Java, TypeScript, VueJs, AngularJs,HTML, CSS, JavaScript. You can see all my works on <a href="https://github.com/MilosCira">Github</a></p>
  </div>
  <div class="box-container">
    <div class="box-1">
      <img src="../../../assets/dog.png">
      <p class="heading">Where with the dog</p>
      <p class="details">This is my personal project, technologies I used Vue, Vuex, Vuetify, Axios, VueRouter, css /
        scss.</p>
      <a target="_blank" href="https://gdesapsom.com/">Look Here</a>
    </div>
    <div class="box-2">
      <img src="../../../assets/aerwave.png">
      <p class="heading">Aerwave</p>
      <p class="details">This is a project I worked on as a freelancer, technologies used, Vue, Vuex, Axios, VueRouter,
        Vuetify. This website is used by 1000+ users </p>
      <a target="_blank" href="https://aerwave.io/">Look Here</a>
    </div>
    <div class="box-3">
      <img src="../../../assets/3512700.jpg">
      <p class="heading">Find a player</p>
      <p class="details">This is my final graduation project on It Academy, from the technologies I used Java, Spring, JSP, MySQL.</p>
      <a target="_blank" href="https://pronadji-igraca.herokuapp.com/">Look Here</a>
    </div>
  </div>
  <!-- <div class="box-container"> -->
  <!-- <div class="box-4">
          <img src="https://i.ibb.co/wBdB4tp/super-trunfo.png">
          <p class="heading">Mentalista</p>
          <p class="details">I created the game conditions and applied the logic using if and else, as well as the JavaScript Math.random() function to generate random numbers.</p>
          <a target="_blank" href="https://codepen.io/ojefferson/full/yLXpvzO">Look Here</a>
        </div> -->
  <!-- <div class="box-5">
          <img src="https://i.ibb.co/wBdB4tp/super-trunfo.png">
          <p class="heading">Converters</p>
          <p class="details">Foi criado fórmulas para calcular/converter temperaturas, moedas e medidas e imprimir o resultado na tela utilizando o innerHTML.</p>
          <a target="_blank" href="https://codepen.io/ojefferson/full/rNwZyRY">Look Here</a>
        </div>
        <div class="box-6">
          <img src="https://i.ibb.co/wBdB4tp/super-trunfo.png">
          <p class="heading">Averaging Calculator</p>
          <p class="details">In this project an average calculator was made and fixed the number of decimal places with the toFixed() function, as well as the conditions through logic.</p>
          <a target="_blank" href="https://codepen.io/ojefferson/full/rNwZyRY">Look Here</a>
        </div> -->
  <!-- </div> -->
</div>